[submodule "wrapit"]
	path = buildenv/wrapit
	url = git@github.com:grasph/wrapit.git
[submodule "libcxxwrap-julia"]
	path = buildenv/libcxxwrap-julia
	url = git@github.com:JuliaInterop/libcxxwrap-julia.git
